h1{
  color: grey;
  text-align: center;
  font-size: 50px;
}
h2{
  text-align: center;
  font-size: 40px;
  font-family: Agbalumo;
}
.container ol{
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline;
  position: relative;


}
button{
  background-color: aqua;
  color: black;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
   font-family: Agbalumo;
}
ol{
  width: 60px;
  position: relative;
}
.about{
  float: right;
}
p{
  text-align: center;
  padding: 10px;
  font-size: 40px;
  font-family: Agbalumo;
  color: white;

  
}
div{
background-color: silver;
}

.shoes1{
  display: inline;
 justify-content: space-between; 
 border: 15px;
 padding: 3px;

}
.logo{
  display:block;
margin-right:auto;
margin-left:auto;
text-align: center;
border-radius: 40%;
  
}
.shirt1{
  display: inline;
  justify-content: space-between; 
  border: 15px;
  padding: 3px;
  margin-left: 90px ;
  margin-right: 90px;
  
}
.order{
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
.deliver{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cont{
  display: inline;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;

  
}
body{
  background-color: darkgrey;
}
